<div class="container">
    <br>
    <div id="thi" class="card " *ngFor="let qui of quiz | paginate: { itemsPerPage: sodong, currentPage: sotrang }">
        <div class="card-header" align="left" id="thimon" style="background-color: #999999">
            <i class='fas fa-th-list'></i> Môn: {{name}}
            
            <div style="float: right;">Time: <span id="timer"></span></div>
        </div>
        <div class="card-body">
            <p>Câu {{sotrang}} Trên {{quiz.length}}: {{qui.Text}}</p>
            <hr>
            <div *ngFor="let question of qui.Answers">
                <div class="row" style="margin-left: 10px;">
                    <div class="form-check form-check-inline formradio">
                        <label class="radioctn checkradio">{{question.Text}}
                            <input type="radio" (click)='checkradio()' name="inlineRadioOptions" id="inlineRadio1"
                                [disabled]="hieninput" [value]="question.Id" [(ngModel)]="thongtin.valuee"
                                [ngModelOptions]="{standalone: true}">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-muted ">
            <p style="float: left;font-size: 25px;">Mark:{{mark}}/{{quiz.length}}</p>
        </div>
        <div>
            <button [disabled]="hienfirstpage" (click)="firstpage()" type="button" value="firstpage" name="dapan_button"
                class="btn btn-dark">First page</button>
            <button [disabled]="hienprevious" (click)="previouspage()" type="button" value="Previous"
                name="dapan_button" class="btn btn-dark">Previous</button>
            <button [disabled]="hiennextpage" (click)="nextpage()" (click)="tinhdiem(qui.AnswerId,qui.Answers)"
                type="button" value="Next" name="dapan_button" class="btn btn-dark">Next</button>
            <button [disabled]="hienlastpage" (click)="lastpage()" type="button" value="lastpage" name="dapan_button"
                class="btn btn-dark">Last page</button>
            <button style="float: right;" type="button" class="btn btn-primary" [disabled]="hiensubmit"
                (click)="nopbai()" (click)="tinhdiem(qui.AnswerId,qui.Answers)">Nộp bài</button>
        </div>

    </div>

</div>
