<div class="quenmatkhau">
    <div class="container">
        <h2>QUÊN MẬT KHẨU</h2>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Tài khoản</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="tên đăng nhập">
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email khôi phục</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="email khôi phục">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mã khôi phục</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mã khôi phục">
            </div>
            <button type="submit" class="btn btn-primary">Quên mật khẩu</button>
        </form>
    </div>
</div>
