<div class="container">
        <h1 style="color:green   ;text-align:center">Quên mật khẩu</h1>
    <br>
        <div class="mb-3">
            <label for="validationCustom01">Username</label>
            <input type="text" class="form-control" id="validationCustom01" [(ngModel)]="formSudent.username"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
            <label for="validationCustomUsername">Email</label>
            <div class="input-group">
                <input type="text" class="form-control" id="validationCustomUsername" placeholder="abc@gmail.com"
                    [(ngModel)]="formSudent.email" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    <label for="exampleInputEmail1">Nhập mật khẩu mới</label>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="formSudent.passwordnew"
                [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <br>
    <div>
        <button type="buuton" class="btn btn-primary mb-2" (click)="EditPass()">Đồng ý</button>
    </div>
    <h2>
        Bảng test
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">username</th>
                <th scope="col">email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sv of students">
                <th>{{sv.username}}</th>
                <td>{{sv.email}}</td>
            </tr>
        </tbody>
    </table>
</div>