Xây dựng website thi trắc nghiệm trực tuyến, sử dụng công nghệ Bootstrap và Angular với các chức năng theo yêu cầu sau
<br>
1.&nbsp;&nbsp;&nbsp;&nbsp; Người học vào trang danh mục môn học và chọn môn thi. Trang thi trắc nghiệm hiển thị phục vụ người học thi trắc
nghiệm môn đã chọn. <br>
&nbsp;&nbsp;&nbsp;&nbsp; o Trang danh mục các môn học có phân trang, mỗi trang 4 hoặc 6 môn học. <br>
&nbsp;&nbsp;&nbsp;&nbsp; o Trang thi phải
có các yêu
tố sau đây <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Mỗi lần hiển thị một câu hỏi <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Có các nút điều hướng để đến câu hỏi trước, sau, đầu và cuối <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Có đồng hồ hiển thị thời gian làm bài <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Hiển thị thông tin tổng hợp: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x Tổng số câu hỏi<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x Số câu đã làm <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x Tổng điểm đạt được <br> 
2.&nbsp;&nbsp;&nbsp;&nbsp; Ngoài ra website cũng phải cung cấp các trang web để quản lý thành viên <br>
&nbsp;&nbsp;&nbsp;&nbsp; o Đăng nhập <br> 
&nbsp;&nbsp;&nbsp;&nbsp; o Đăng ký <br> 
&nbsp;&nbsp;&nbsp;&nbsp; o Quên mậtkhẩu <br> 
&nbsp;&nbsp;&nbsp;&nbsp; o Đổi mật khẩu <br> 
&nbsp;&nbsp;&nbsp;&nbsp; o Sửa đổi thông tin tài khoản <br> 
3.&nbsp;&nbsp;&nbsp;&nbsp; Website cũng cần phải có các trang thông dụng với hình thức tùy bạn thiết kế <br> 
&nbsp;&nbsp;&nbsp;&nbsp; o Giới thiệu <br> 
&nbsp;&nbsp;&nbsp;&nbsp; o Liên hệ <br> 
&nbsp;&nbsp;&nbsp;&nbsp; o Góp ý <br> 
&nbsp;&nbsp;&nbsp;&nbsp; o Hỏi đáp