<div class="container-fluid">
    <header>
        <div class="banner">
            <img src="assets\TaiNguyen\images\banner.png" alt="" width="100%" height="250px">
        </div>
        <div class="menu-navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1">Trang chủ</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gioithieu">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/lienhe">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gopy">Góp ý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/hoidap">Hỏi đáp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/trangthi">Trang thi</a>
                        </li>
                    </ul>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="/dangky">Đăng ký</a>
                            <a class="dropdown-item" routerLink="/dangnhap">Đăng nhập</a>
                            <a class="dropdown-item" routerLink="/quenmatkhau">Quên mật khẩu</a>
                            <hr width="85%">
                            <a class="dropdown-item" routerLink="/dangnhap">Đăng xuất</a>
                            <a class="dropdown-item" routerLink="/doimatkhau">Đổi mật khẩu</a>
                            <a class="dropdown-item" routerLink="/capnhattaikhoan">Cập nhật tài khoản</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <br>
    <main>
        <div class="row">
            <div class="col-9">

            </div>
            <div class="col-3">
                <aside>
                    <div class="list-group">
                        <a routerLink="/danhmucmonhoc" class="list-group-item list-group-item-secondary">
                            <i class='fas fa-th-list'> {{title}}</i>
                        </a>
                        <a *ngFor='let dmmh of danhmucmonhoc' type="button"
                            class="list-group-item list-group-item-action">
                            {{dmmh.Name}}</a>
                    </div>

                </aside>
            </div>
        </div>
    </main>
</div>