<div class="container">
    <H1 style="text-align: center;color:red;">Đăng Ký</H1>
    <br>
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Họ và tên</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Nguyen Van A" [(ngModel)]="formSudent.fullname" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Ngày tháng năm sinh</label>
                <input type="date" class="form-control" id="validationCustom02" [(ngModel)]="formSudent.birthday" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="abc@gmail.com" [(ngModel)]="formSudent.email" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <label for="exampleInputEmail1">Tài Khoản</label>
        <label for="exampleInputEmail1" style="margin-left: 350px">Mật Khẩu</label>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="nhập tài khoản" [(ngModel)]="formSudent.username" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="col">
                <input type="password" class="form-control" placeholder="Nhập mật khẩu" [(ngModel)]="formSudent.password" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <label for="exampleInputEmail1" style="margin-top: 10px;">Giới Tính:</label>
        <br>
        <input type="radio" name="gioitinh" value="nam"  [(ngModel)]="formSudent.gender" [ngModelOptions]="{standalone: true}"> Nam<br>
        <input type="radio" name="gioitinh" value="nu" [(ngModel)]="formSudent.gender" [ngModelOptions]="{standalone: true}"> Nữ<br>
        <br>
        <button type="submit" class="btn btn-primary" (click)="Addthongtin()">Submit</button>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">username</th>
                <th scope="col">password</th>
                <th scope="col">fullname</th>
                <th scope="col">birthday</th>
                <th scope="col">email</th>
                <th scope="col">gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sv of students">
                <th>{{sv.username}}</th>
                <td>{{sv.password}}</td>
                <td>{{sv.fullname}}</td>
                <td>{{sv.birthday| date :'dd-MM-yyyy'}}</td>
                <td>{{sv.email}}</td>
                <td>{{sv.gender}}</td>
            </tr>
        </tbody>
    </table>
</div>
