<b>GÓP Ý</b><br>
<textarea name="message" id="message" type="text"
    placeholder="Vui lòng nhập chi tiết yêu cầu của bạn. Thành viên nhóm hỗ trợ của chúng tôi sẽ trả lời ngay khi có thể"
    cols="50" rows="10" style=" margin-left: 0px; width: 600px; height: 170px;">
</textarea><br>
<input type="submit" id="goi" value="Gởi" onclick="Redirect();" />
<script language="javascript">
    var submit = document.getElementById("goi");
    submit.onclick = function () {
        alert("Yêu cầu được gửi thành công! Chúng tôi sẽ phản hồi cho bạn qua EMAIL");
    } 
</script>