<section>
    <div class="row">
        <div *ngFor="let dmmh of danhmucmonhoc | paginate: config" class="col-6">
            <div class="card text-center">
                <a (click)="checkdangnhap" [routerLink]="['/trangthi',dmmh.Name,dmmh.Id]"
                    style="text-decoration: none;">
                    <div>
                        <img src="{{dmmh.Logo}}" width="85%" alt="...">
                    </div>
                    <div class="card-footer" style="background-color: #999999; ">
                        <p  style="color: white;">{{dmmh.Name}}</p>
                    </div>
                </a>
            </div>
            <br>
        </div>
        <div class="phantrang" id="phantrang">
            <hr>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</section>
